.frame12Page{
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/cardBg.jpg');
  background-size: cover; 
  background-repeat: repeat; 
}
.logomedionFrame12{
  width: 200.94px;
  height: 141.02px;
  background-image: url('../../assets/images/лого-Medion1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.textLogoFrame12{
  width: 246.59px;
  height: 65.22px;
  background-image: url('../../assets/images/лого-Medion2.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.разделText{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #BF2619;
  margin-top: 0.5%;
  margin-bottom: 42px;
}
.frame12BtnText{
  color: #000000;
  margin-top: 1%;
}
.col2Frame12{
  width: 300px !important;
  justify-items: center;
}
.buttonFrame12{
  box-sizing: border-box;
  width: 294px;
  height: 59px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 5px;
  margin-top: -2px;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 50px;
  color: #000000;
  text-align: left;
  padding-left: 22px;
}
.rowBtnSpan{
  text-align: end;
}
.rowBtnImg{
  width: 8px;
}
.iconsRowFrame12{
  margin-top: 2% !important;
  margin-left: 5% !important;
}
.iconsFrame12{
  margin-top: 2.29%;
}
.firstIconGroupFrame12{
  margin-left: 1%;
}
.secondIconGroupFrame12{
  margin-left: 10%;
  margin-top: 3%;
}
.homeIconFrame12{
  width: 64px;
  height: 64px;
  background-color: #1F2C50;
  margin-right: 89px;
  border-radius: 50%;
}
.iconHomeFrame12{
  color: #FFFFFF;
  width: 63px;
  height: 60px;
  margin-left: -45%;
  margin-top: -25%;
}
.nazadIconFrame12{
  width: 64px;
  height: 64px;
  background-color: #1F2C50;
  margin-left: 1%;
  border-radius: 50%;
  margin-top: -3px;
}
.nazadIconLeftFrame12{
  width: 64px;
  height: 64px;
  background: #D8D8D8;
  margin-right: 89px;
  border-radius: 50%;
}
.nazadIconRightFrame12{
  width: 64px;
  height: 64px;
  background-color: #BF2619;
  margin-left: 1%;
  border-radius: 50%;
  margin-top: -3px;
}
.iconNazadFrame12{
  color: #FFFFFF;
  width: 240%;
  height: 169%;
  margin-left: -75%;
  margin-top: -45%;
}
.domoyTextFrame12{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 38px;
  color: #1F2C50;
  margin-left: -40%;
}
.nazadTextFrame12{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 22px;
  color: #1F2C50;
  margin-left: -30%;
}

@media only screen and (max-width: 820px) {
  .logomedionFrame12{
    margin-top: 5%;
    width: 233.94px;
    height: 170.02px;
  }
  .textLogoFrame12{
    width: 310.59px;
    height: 86.22px;
  }
  .iconsFrame6{
    margin-top: 13%;
  }
  .homeIconFrame12{
    width: 100px;
    height: 100px;
  }
  .firstIconGroupFrame12{
    margin-left: 1%;
  }
  .secondIconGroupFrame12{
    margin-left: 35%;
    margin-top: 3%;
  }
  .domoyTextFrame12 {
    font-size: 35px;
    line-height: 65px;
  }
  .iconHomeFrame12 {
    width: 90px;
    height: 80px;
    margin-left: -15%;
    margin-top: -8%;
  }
  .nazadIconFrame12{
    width: 90px;
    height: 90px;
    margin-top: -5px;
  }
  .nazadIconLeftFrame12 {
    width: 90px;
    height: 90px;
  }
  .nazadIconRightFrame12 {
    width: 90px;
    height: 90px;
  }
  .iconNazadFrame12{
    width: 250%;
    height: 180%;
  }
  .nazadTextFrame12{
    font-size: 35px;
    line-height: 0px;
  }
  .col2Frame12{
    width: 355px !important;
    justify-items: center;
  }
  .buttonFrame12 {
    box-sizing: border-box;
    width: 350px;
    height: 65px;
    border: 2px solid #E9E9E9;
    margin-top: 5px;
    font-size: 25px;
    line-height: 60px;
  }
}
@media all and (display-mode: fullscreen){
  .frame12Page{
    height: 100vh !important;
  }
}

@media only screen and (min-width: 700px) and (min-height: 1200px) {
  .rowFrame12{
    margin-left: -14% !important;
  }
  .col2Frame12 {
    width: 294px !important;
    justify-items: center;
    margin-left: 1%;
  }
  .buttonFrame12 {
    width: 295px !important;
    height: 65px;
    border: 2px solid #E9E9E9;
    margin-top: 5px;
    font-size: 25px;
    line-height: 60px;
    margin-left: 0% !important;
  }
  .iconsRowFrame12{
    margin-top: 35% !important;
  }
  .homeIconFrame12{
    width: 75px;
    height: 75px;
    margin-right: 70px;
  }
  .nazadIconLeftFrame12{
    margin-right: 70px;
    width: 75px;
    height: 75px;
  }
  .nazadIconRightFrame12 {
    width: 75px;
    height: 75px;
  }
  .iconHomeFrame12 {
    margin-left: -25%;
    width: 65px;
    height: 65px;
  }
  .nazadIconFrame12{
    width: 75px;
    height: 75px;
  }
  .domoyTextFrame12{
    font-size: 24px;
    margin-left: -53%;
    line-height: 50px;
  }
  .nazadTextFrame12{
    font-size: 24px;
    line-height: 10px;
  }
  .firstIconGroupFrame12 {
    margin-left: -8%;
  }
  .secondIconGroupFrame12 {
    margin-left: 55%;
  }
}