.frame11Page{
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/cardBg.jpg');
  background-size: cover; 
  background-repeat: repeat; 
}
.logomedionFrame11{
  width: 200.94px;
  height: 141.02px;
  background-image: url('../../assets/images/лого-Medion1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.textLogoFrame11{
  width: 246.59px;
  height: 65.22px;
  background-image: url('../../assets/images/лого-Medion2.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.разделText{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  color: #BF2619;
  margin-top: 0.5%;
  margin-bottom: 42px;
}

.col2Frame11{
  width: 29.6% !important;
  margin-left: 5%;
}
.frame11Text{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 25px;
  line-height: 11px;
  color: #000000;
}

.nfcCard{
  width: 400px !important;
  height: 240px;
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 10px;
  margin-left: 5%;
}
.nfcImg{ 
  width: 100px;
  height: 100px;
  margin-top: 15%;
  margin-left: 35%;
}



.iconsRow{
  margin-top: 4% ;
}
.iconsFrame11{
  margin-top: 2.29%;
}
.firstIconGroupFrame11{
  margin-left: 1%;
}
.secondIconGroupFrame11{
  margin-left: 10%;
  margin-top: 3%;
}
.homeIconFrame11{
  width: 64px;
  height: 64px;
  background-color: #1F2C50;
  margin-right: 89px;
  border-radius: 50%;
  margin-left: -10%;
}
.iconHome{
  color: #FFFFFF;
  width: 63px;
  height: 60px;
  margin-left: -45%;
  margin-top: -25%;
}
.nazadIconFrame11{
  width: 64px;
  height: 64px;
  background-color: #1F2C50;
  margin-left: 70%;
  border-radius: 50%;
  margin-top: -3px;
}
.nazadIconLeft{
  width: 64px;
  height: 64px;
  background: #D8D8D8;
  margin-right: 89px;
  border-radius: 50%;
}
.nazadIconRight{
  width: 64px;
  height: 64px;
  background-color: #BF2619;
  margin-left: 1%;
  border-radius: 50%;
  margin-top: -3px;
}
.iconNazad{
  color: #FFFFFF;
  width: 240%;
  height: 169%;
  margin-left: -75%;
  margin-top: -45%;
}
.domoyText{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 38px;
  color: #1F2C50;
  margin-left: -40%;
}
.nazadText{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 22px;
  color: #1F2C50;
  margin-left: -30%;
}

@media only screen and (max-width: 820px) {
  .logomedionFrame11{
    margin-top: 5%;
    width: 233.94px;
    height: 170.02px;
  }
  .textLogoFrame11{
    width: 310.59px;
    height: 86.22px;
  }
  .iconsFrame1{
    margin-top: 13%;
  }
  .homeIconFrame11{
    width: 100px;
    height: 100px;
  }
  .firstIconGroupFrame11{
    margin-left: 1%;
  }
  .secondIconGroupFrame11{
    margin-left: 35%;
    margin-top: 3%;
  }
  .domoyText {
    font-size: 35px;
    line-height: 65px;
  }
  .iconHome {
    width: 90px;
    height: 80px;
    margin-left: -15%;
    margin-top: -8%;
  }
  .nazadIconFrame11{
    width: 90px;
    height: 90px;
    margin-top: -5px;
  }
  .nazadIconLeft {
    width: 90px;
    height: 90px;
  }
  .nazadIconRight {
    width: 90px;
    height: 90px;
  }
  .iconNazad{
    width: 250%;
    height: 180%;
  }
  .nazadText{
    font-size: 35px;
    line-height: 0px;
  }
  .col2Frame11{
    width: 355px !important;
    justify-items: center;
  }
  .buttonFrame12 {
    box-sizing: border-box;
    width: 350px;
    height: 65px;
    border: 2px solid #E9E9E9;
    margin-top: 5px;
    font-size: 25px;
    line-height: 60px;
  }
}
@media all and (display-mode: fullscreen){
  .frame11Page{
    height: 100vh !important;
  }
}