.frame5Page{
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/cardBg.jpg');
  background-size: cover; 
  background-repeat: repeat; 
}
.logomedionFrame5{
  width: 200.94px;
  height: 141.02px;
  background-image: url('../../assets/images/лого-Medion1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.textLogoFrame5{
  width: 246.59px;
  height: 65.22px;
  background-image: url('../../assets/images/лого-Medion2.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.praysFrame5{
  width: 350px;
  height: 45px;
  background: #BF2619;
  border-radius: 25.625px;
  margin-top: 0%;
  border-style: none;
}
.praysTextFrame5{
  text-align: center;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 3%;
}
.diagnostikaFrame5Container{
  margin-top: 1%;
}
.diagnostikaFrame5{
  width: 220px;
  height: 45px;
  background: #999999;
  border-radius: 50px;
  margin-top: 8px;
}
.praysTextLittleFrame5{
  font-size: 22px;
  line-height: 32px;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  text-align: center;
  color: aliceblue;
}
.iconsFrame5{
  margin-top: 2.29%;
}
.homeIconFrame5{
  width: 64px;
  height: 64px;
  background-color: #1F2C50;
  margin-right: 89px;
  border-radius: 50%;
}
.iconHomeFrame5{
  color: #FFFFFF;
  width: 63px;
  height: 60px;
  margin-left: -45%;
  margin-top: -25%;
}
.nazadIconFrame5{
  width: 64px;
  height: 64px;
  background-color: #1F2C50;
  margin-left: 1%;
  border-radius: 50%;
  margin-top: -6px;
}
.iconNazad{
  color: #FFFFFF;
  width: 240%;
  height: 169%;
  margin-left: -75%;
  margin-top: -45%;
}
.domoyTextFrame5{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 38px;
  color: #1F2C50;
  margin-left: -40%;
}
.nazadTextFrame5{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 22px;
  color: #1F2C50;
  margin-left: -30%;
}

@media only screen and (max-width: 820px) {
  .logomedionFrame5{
    margin-top: 6% !important;
    width: 233.94px;
    height: 170.02px;
  }
  .textLogoFrame4{
    width: 310.59px;
    height: 86.22px;
  }
  .praysFrame4{
    margin-top: 12%;
    width: 500px;
    height: 80px;
    border-radius: 40px;
  }
  .praysText{
    font-size: 50px;
    line-height: 40px;
  }
  .diagnostikaFrame5Container {
    margin-top: 5%;
    margin-bottom: 15%;
  }
  .iconsFrame4{
    margin-top: 13%;
  }
  .homeIconFrame5{
    width: 110px;
    height: 110px;
  }
  .domoyTextFrame5 {
    font-size: 35px;
    line-height: 65px;
  }
  .iconHomeFrame5 {
    width: 85px;
    height: 85px;
    margin-left: -15%;
    margin-top: -8%;
  }
  .nazadIconFrame5{
    width: 95px;
    height: 95px;
    margin-top: -5px;
  }
  .iconNazad{
    width: 250%;
    height: 180%;
  }
  .nazadTextFrame5{
    font-size: 35px;
    line-height: 0px;
  }
}
@media all and (display-mode: fullscreen){
  .frame5Page{
    height: 100vh !important;
  }
  .praysFrame4{
    margin-top: 3%;
  }
}

@media only screen and (min-width: 700px) and (min-height: 1200px) {
  .praysFrame5 {
    width: 500px;
    height: 80px;
    background: #BF2619;
    border-radius: 45.625px;
    margin-top: 7%;
    border-style: none;
  }
  .praysTextFrame5 {
    font-size: 50px;
    line-height: 36px;
  }
  .diagnostikaFrame5 {
    width: 315px;
    height: 50px;
    margin-top: 15px;
  }
  .praysTextLittleFrame5{
    font-size: 30px;
  }
  .homeIconFrame5{
    width: 90px;
    height: 90px;
  }
  .iconHomeFrame5 {
    width: 74px;
    height: 85px;
    margin-left: -12%;
    margin-top: -11%;
  }
  .nazadIconFrame5{
    width: 90px;
    height: 90px;
  }
  .domoyTextFrame5{
    font-size: 30px;
  }
  .nazadTextFrame5{
    font-size: 30px;
    line-height: 15px;
  }
}