.display {
  display: flex;
  flex-direction: column;
  width: 410px;
  height: 60px;
  background: #FFFFFF;
  border: 2px solid #E9E9E9;
  border-radius: 10px;
  margin-bottom: 8%;
}

.expression {
  padding: 5px;
  margin-bottom: 10px;
  height: 50px;
}

.input,
.value {
    padding: 4px !important;
    text-align: right;
    background-color: transparent;
    color: #BF2619;
    border: 0px;
    letter-spacing: 3.5px;
}

.input {
  font-size: 20px;
}

.value {
  font-size: 15px;
}

.input::placeholder,
.value::placeholder {
  color: white;
}

.input:focus-visible,
.value:focus-visible {
  outline-style: none;
  outline-width: 0px;
}
