.frame3Page{
  width: 100%;
  height: 100vh;
  background-image: url('../../assets/images/cardBg.jpg');
  background-size: cover; 
  background-repeat: repeat; 
}
.logomedionFrame3{
  width: 167.94px;
  height: 141.02px;
  background-image: url('../../assets/images/лого-Medion1.png');
  background-size: cover;
  background-repeat: no-repeat;
}
.textLogoFrame3{
  width: 246.59px;
  height: 65.22px;
  background-image: url('../../assets/images/лого-Medion2.svg');
  background-size: cover;
  background-repeat: no-repeat;
}
.prays{
  width: 350px;
  height: 45px;
  background: #BF2619;
  border-radius: 25.625px;
  margin-top: 5%;
  border-style: none;
}
.vrachi{
  width: 350px;
  height: 45px;
  background: #BF2619;
  border-radius: 25.625px;
  margin-top: 2%;
  border-style: none;
}
.otsenka{
  width: 350px;
  height: 45px;
  background: #BF2619;
  border-radius: 25.625px;
  margin-top: 2%;
  border-style: none;
}
.praysText{
  text-align: center;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 3%;
}
.vrachText{
  text-align: center;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 22px;
  line-height: 15px;
  color: #FFFFFF;
  margin-top: 3%;
}
.otsenkaText{
  text-align: center;
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 18px;
  line-height: 10px;
  color: #FFFFFF;
  margin-top: 3.5%;
}
.iconsFrame3{
  margin-top: 5.29%;
}
.homeIconFrame3{
  width: 64px;
  height: 64px;
  background-color: #1F2C50;
  margin-right: 89px;
  border-radius: 50%;
}
.iconHomeFrame3{
  color: #FFFFFF;
  width: 63px;
  height: 60px;
  margin-left: -45%;
  margin-top: -25%;
}
.nazadIconFrame3{
  width: 64px;
  height: 64px;
  background-color: #1F2C50;
  margin-left: 1%;
  border-radius: 50%;
  margin-top: -6px;
}
.iconNazad{
  color: #FFFFFF;
  width: 240%;
  height: 169%;
  margin-left: -75%;
  margin-top: -45%;
}
.domoyText{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 16px;
  line-height: 38px;
  color: #1F2C50;
  margin-left: -40%;
}
.nazadTextFrame3{
  font-family: 'HelveticaNeueCyr';
  font-style: normal;
  font-weight: 550;
  font-size: 17px;
  line-height: 22px;
  color: #1F2C50;
  margin-left: -30%;
}

@media only screen and (max-width: 820px) {
  .logomedionFrame3{
    margin-top: 5%;
    width: 233.94px;
    height: 170.02px;
  }
  .textLogoFrame3 {
    width: 310.59px;
    height: 86.22px;
  }
  .prays{
    margin-top: 12%;
    width: 500px;
    height: 80px;
    border-radius: 40px;
  }
  .praysText{
    font-size: 50px;
    line-height: 40px;
  }
  .vrachi {
    width: 500px;
    height: 80px;
    border-radius: 40px;
  }
  .vrachText{
    font-size: 50px;
    line-height: 40px;
  }
  .otsenka{
    width: 500px;
    height: 80px;
    border-radius: 40px;
  }
  .otsenkaText{
    font-size: 35px;
    line-height: 35px;
  }
  .iconsFrame3{
    margin-top: 13%;
  }
  .homeIconFrame3{
    width: 95px;
    height: 95px;
  }
  .domoyText {
    font-size: 35px;
    line-height: 65px;
  }
  .iconHomeFrame3 {
    width: 75px;
    height: 105px;
    margin-left: -10%;
    margin-top: -24%;
  }
  .nazadIconFrame3{
    width: 95px;
    height: 95px;
    margin-top: -5px;
  }
  .iconNazad{
    width: 250%;
    height: 180%;
  }
  .nazadTextFrame3{
    font-size: 35px;
    line-height: 0px;
  }
}
@media all and (display-mode: fullscreen){
  .frame3Page {
    height: 100vh !important;
  }
}

@media only screen and (min-width: 700px) and (min-height: 1200px) {
  .vrachi{
    margin-top: 7%;
  }
  .otsenka{
    margin-top: 7%;
  }
  .iconsFrame3{
    margin-top: 20%;
  }
  .nazadTextFrame3 {
    font-size: 35px;
    line-height: 28px;
  }
  .homeIconFrame3 {
    width: 85px;
    height: 85px;
  }
  .iconHomeFrame3 {
    width: 55px;
    height: 89px;
    margin-left: 0%;
    margin-top: -24%;
  }
  .nazadIconFrame3 {
    width: 85px;
    height: 85px;
    margin-top: -5px;
  }
  .domoyText {
    font-size: 28px;
    line-height: 53px;
  }
  .nazadTextFrame3 {
    font-size: 28px;
    line-height: 14px;
  }
}